# Ignorar node_modules (instalaremos dentro del contenedor)
node_modules

# Ignorar archivos de logs
*.log
logs/
npm-debug.log*

# Ignorar carpetas de build antiguas
dist
build

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración local de IDE/editor
.vscode/
.idea/
*.swp
